# Ignore virtual environment directory
rag_env/
.venv/
env/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore data files and temporary files
*.csv
*.npy
*.index

# Ignore config and log files
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and editor config files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project